.ULSxyf {
    min-height: 90vh;
    display: flex;
   
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
    margin-bottom: 44px;
   
}

.wDYxhc {
    clear: both;
}

.rsGxI.Ww4FFb, .Ww4FFb {
    background-color: #fff;
  
    border-radius: 0px;
    box-shadow: 0px;
}
div {
    display: block;
}

.zsYMMe {
    padding: 0px;
    padding: 0px;
}
.OhScic {
    margin: 0px;
}

.Uo8X3b {
    clip: rect(1px,1px,1px,1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  

}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.nawv0d {

    
    display: grid;
    grid-template-columns: auto;
    font-size: medium;
    font-weight: normal;
    font-family: arial,sans-serif;
}

.hometech {
    display: grid;
    background-color: #87CBB9;
    padding: 25px;
    border-radius: 25px;


}

body {
    width: 100%;
}

