.UQt4rd, .VQF4g {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding: 2%;
    margin: 10px;
   background: #DAF5FF;
   border-radius: 15px;
    flex: 2;
}
.UQt4rd {
    text-align: left;
    margin-right: 20px;
    
   
    text-align: left;
    margin-right: 20px;

}




.wob_tci {
    display: inline-block;
    height: 60px;
    margin-top: unset;
    vertical-align: top;
    width: 60px;
   
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.Ab33Nc {
    display: inline-block;
    padding-left: 10px;
    vertical-align: top;
}

.TylWce.TylWce {
    letter-spacing: normal;
}

.SGNhVe {
    font-family: Google Sans,arial,sans-serif;
    font-size: 48px;
    letter-spacing: 0;
    line-height: 56px;
}
.TylWce {
    color: #202124;
    display: inline-block;
    vertical-align: top;
}
.vk_bk {
    color: #202124;
}

.q8U8x {
    font-family: Google Sans,arial,sans-serif;
    font-weight: 400;
}

.wob-unit {
    color: #202124;
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
    margin-top: 6px;
    padding-left: 6px;
    vertical-align: top;
}
.vk_bk {
    color: #202124;
}
.Az4ne {
    border-left: solid 1px #70757a;
    margin: 0 4px;
}

a {
    color: #1a0dab;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,.1);
}

.wob-unit a.wob_t {
    color: #70757a;
}

html:not(.zAoYTe) [href], html:not(.zAoYTe) button, html:not(.zAoYTe) iframe, html:not(.zAoYTe) input, html:not(.zAoYTe) select, html:not(.zAoYTe) textarea {
    outline: 0;
}

.wtsRwe {
    color: #70757a;
    display: inline-block;
    font-size: 12px;
    line-height: 16px;
    padding-left: 9px;
    padding-top: 6px;
    text-align: left;
    margin-left: 17%;
}

.VQF4g {
    text-align: right;
}
.wob_loc {
    color: #202124;
    font-size: 22px;
    line-height: 26px;
}

.q8U8x {
    font-family: Google Sans,arial,sans-serif;
    font-weight: 400;
}
.wob_dts, .wob_dcp {
    color: #70757a;
    font-size: 16px;
    line-height: 20px;
}

.ULSxyf {
    margin-bottom: 44px;
}