.VQF4g {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.wob_loc {
    color: #202124;
    font-size: 22px;
    line-height: 26px;
}
.q8U8x {
    font-family: Google Sans,arial,sans-serif;
    font-weight: 400;
}
.wob_dts, .wob_dcp {
    color: #70757a;
    font-size: 16px;
    line-height: 20px;
}
.wob_dts, .wob_dcp {
    color: #70757a;
    font-size: 16px;
    line-height: 20px;
}
